<html>
    <head>
        <script>
            function redirect(){
                setTimeout(function() {
                    window.location.href = "/sessionpage1";
                }, 2000);
            }

            document.onload(redirect());

        </script>
    </head>
    <body>
        session cleared, redirecting...
    </body>
</html>