<!DOCTYPE html>
<html>
    <head>
        <title>hello world</title>
    </head>
    <body style="background-color: <%= bgcolor %>">
        <h1>Hello Web World from node.js on <%= datetime %></h1>
    </body>
</html>