<html>
<head>
    <script>
var today = new Date();
  var expiry = new Date(today.getTime() + 30 * 24 * 3600 * 1000); // plus 30 days

  function setCookie(name, value)
  {
    document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
  }
function putCookie(form)
                //this should set the UserName cookie to the proper value;
  {
   setCookie("username", form[0].usrname.value);

    return true;
  }

  </script>
</head>
<body>
<form>
 <input type="text" placeholder="username" id="nameBox" name='usrname'>
 <input type="button" value="submit" id="submit" onclick="putCookie(document.getElementsByTagName('form'));">
</form>
click <a href="/sessionpage2">here</a> go to session page 2.
</body>


</html>